// secodary-colors
$secondary-light: rgb(230, 239, 239);
$secondary-light-hover: rgb(217, 232, 232);
$secondary-light-active: rgb(176, 207, 207);
$secondary-normal: rgb(0, 99, 99);
$secondary-normal-hover: rgb(0, 89, 89);
$secondary-normal-active: rgb(0, 79, 79);
$secondary-dark: rgb(0, 74, 74);
$secondary-dark-hover: rgb(0, 59, 59);
$secondary-dark-active: rgb(0, 45, 45);
$secondary-darker: rgb(0, 35, 35);

// neutral-colors
$neutral-light: rgb(170, 172, 166);
$neutral-light-hover: rgb(153, 156, 148);
$neutral-light-active: rgb(133, 135, 126);
$neutral-normal: rgb(67, 71, 57);
$neutral-normal-hover: rgb(57, 60, 48);
$neutral-normal-active: rgb(49, 52, 42);
$neutral-dark: rgb(23, 25, 20);
$neutral-dark-hover: rgb(17, 18, 14);
$neutral-dark-active: rgb(7, 8, 6);
