@import './colors';

.main-cover{
    // padding: 10px;
}

.cubes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 60px;
    width: 100%;
    min-height: 15vh;
    
    .cube{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .image-cover{
            padding: 15px;
            background-color: rgba(7, 89, 7, 0.735);
            border-radius: 15px;

            
            svg{
                min-width: 50px;
                color: white;
            }
        }

        .sec{
            background-color: rgb(15, 15, 122);
        }

        .thr{
            background-color: rgba(152, 108, 26, 0.945);
        }

        .four{
            background-color: rgba(18, 179, 243, 0.893)
        }

        p{
            color: white;
            font-size: 18px;

        }

    }
}

.content{
    margin-top: 50px;
    background-color: $secondary-dark-hover;
    padding: 10px;
    border-top-right-radius: 56px;
    min-height: 75vh;

    .pain{
        h2{
            color: white;
        }
    }

    .comenzi{
        padding: 10px;
        margin-top: 10px;
        h2, h1{
            color: white;
            font-weight: 400;
            margin-bottom: 10px;
        }

        h1{
            font-size: 25px;
        }

        h2{
            font-size: 20px;
        }

        .tabs{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;

            .tab{
                padding: 10px;
                border-radius: 15px;
                background: rgb(242, 242, 244);
background: linear-gradient(90deg, rgba(52, 30, 176, 0.75) 6%, rgba(15, 47, 98, 0.932) 100%);
            }
        }
    }

    .clasament{
        padding: 10px;
        margin-top: 10px;
        h2{
            color: white;
            margin-bottom: 10px;
        }

        table{
            width: 100%;
            color: white;
            border-collapse: collapse;

            thead{
                padding: 10px 5px;
                text-align: left;
                background-color: rgb(58, 58, 216);

                th{
                    padding: 10px 3px;
                    
                }
            }

            tbody{
                padding: 10px 5px;
                background-color: white;
                color: black;
                transform: translateY(-10px);

                td{
                    padding: 10px 5px;
                    border-bottom: 1px solid black;
                }

                
            }
        }
    }
}