@import './colors';

// .button-cover{
//     button{
//         background-color: $neutral-dark;
//         color: white;
//         margin-left: 5px;

//         &:last-child{
//             background-color: rgb(80, 41, 235)
//         }
//     }
// }

.v-main{
    background-color: $neutral-dark-active;
    min-height: 100vh;
    padding: 10px;
}

.supply-top{
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;

    @media (max-width: 900px) {
        flex-direction: column;
        gap: 20px;
        justify-content: left;
        align-items: baseline;
        margin-top: 30px;
    }

    @media (max-width: 500px) {
        margin-top: 70px;
    }


    .left{
        gap: 5px;
        display: flex;
        align-items: baseline;

        h3{
            font-size: 16px;
        }

        p{
            font-size: 14px;

            &:last-child{
                text-decoration: underline;
            }
        }
    }

    .right{
        display: flex;
        align-items: center;
        gap: 5px;

        @media (max-width: 600px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
    }
}

.supply-main{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
}